<br>
<input placeholder="Your todo" [(ngModel)]="newTodoValue" (keyup.enter)="addTodo(newTodoValue)">
<button (click)="addTodo(newTodoValue)" [disabled]="!newTodoValue">Add Todo</button>
<input [(ngModel)]="searchTodoString" (keyup)="filterIncompleteTodos(); filterCompletedTodos();">
<br>

<todos-list [store]="store" [todoList]="incompleteTodos$" [searchTodoString]="searchTodoString"></todos-list>
<h3>Completed Todos</h3>
<todos-list [store]="store" [todoList]="completedTodos$" [searchTodoString]="searchTodoString"></todos-list>


